<div class="form-group">
  Camera pos:
  <ul>
    <li>{{cam.pos[0]}}</li>
    <li>{{cam.pos[1]}}</li>
    <li>{{cam.pos[2]}}</li>
  </ul>

  Camera target:
  <ul>
    <li>{{cam.target[0]}}</li>
    <li>{{cam.target[1]}}</li>
    <li>{{cam.target[2]}}</li>
  </ul>

  <button class="btn btn-default form-control" ng-click="free()">Free</button>

  <button class="btn btn-default form-control"
    ng-repeat="objectId in objectIds"
    ng-click="attach(objectId)">
    Attach to {{objectId}}
  </button>

  <br/>


  <br/>
  <div class="input-group">
    <span class="input-group-addon">FOV</span>
    <input class="form-control" type="number" ng-model="scaleFactor"></input>
  </div>
</div>
