<div class="form-group">

  <div class="input-group">
    <span class="input-group-addon">X</span>
    <input class="form-control" type="number" ng-model="newObj.pos.x"></input>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Y</span>
    <input class="form-control" type="number" ng-model="newObj.pos.y"></input>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Z</span>
    <input class="form-control" type="number" ng-model="newObj.pos.z"></input>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Radius</span>
    <input class="form-control" type="number" ng-model="newObj.radius"></input>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Mass</span>
    <input class="form-control" type="number" ng-model="newObj.mass"></input>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Initial X</span>
    <input class="form-control" type="number" ng-model="newObj.initial.x"></input>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Initial Y</span>
    <input class="form-control" type="number" ng-model="newObj.initial.y"></input>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Initial Z</span>
    <input class="form-control" type="number" ng-model="newObj.initial.z"></input>
  </div>

  <button class="btn btn-default form-control" ng-click="launch(newObj)">Launch</button>
</div>
